@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&family=Roboto+Slab:wght@600;700&family=Source+Code+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap');
/*geral*/
:root {
  --branco: #fff;
  --preto: #000;
  --background-color_body: #f1f6fc31;
  --background-image: url("../img/fundo.png");
  --header_scrolled: rgba(0, 0, 0, 0.76);
  --background-color_footer: #13161a;
  --background-color_dev: #ededed;
  --background-color_equipe-but: #1e2227;
  --laranja: #fc7d1c;
  --vermelho: #fc1414;
  --verde: #38d165;
  --azul: #50a3fc;
  --amarelo: #f7eb03;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
  outline: none;
  text-decoration: none;
  transition: 0.2s linear;
}

body {
  height: auto;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  overflow-y: hidden;
  display: none;
}

/*main*/
main {
  min-height: 90vh;
}

.conteudo {
  margin-top: 60px;
  margin-bottom: 100px;
  display: flex;
}

.conteudo-bol {
  margin-left: 130px;
  min-height: 500px;
  width: 70vw;
}

.conteudo-bol h1 {
  color: var(--preto);
  margin-bottom: 60px;
  font-size: 50px;
  margin-left: 20px;
  font-family: 'Roboto Slab', serif;
}

.boletins {
  display: flex;
  flex-wrap: wrap;
  display: flex;
}

.boletim {
  height: auto;
  width: auto;
  background-color: rgba(19, 22, 26, 0.97);
  color: var(--branco);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.493);
  padding: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  margin: 40px;
  border-radius: 5px;
}

.abs {
  height: 300px;
}

.boletim h2 {
  font-size: 40px;
  margin-bottom: 40px;
}

.boletim {
  font-size: 20px;
}

.button {
  margin-top: 120px;
  font-size: 35px;
  width: auto;
  height: auto;
  padding: 10px;
  bottom: 0;
  border-radius: 0;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

#desenho2 {
  position: absolute;
  right: -5%;
  top: 255px;
  height: 500px;
  z-index: -1;
}

.pagina-flutuante {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 22, 26, 0.97);
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--branco);
  z-index: 20;
}

.conteudo-flutuante {
  background-color: var(--preto);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.conteudo-flutuante a {
  display: block;
  text-decoration: none;
  color: var(--branco);
}

.conteudo-flutuante button {
  margin-top: 20px;
  font-size: 35px;
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}

/*media*/

@media screen and (max-width: 992px) {
  .conteudo-bol {
    margin: 0;
    width: 100vw;
    justify-content: center;
    align-items: center;
  }

  .conteudo-bol h1 {
    margin: 0;
    text-align: center;
  }

  .boletins {
    justify-content: space-around;
  }

  #desenho2 {
    display: none;
  }

}

@media (max-width: 600px) {

.conteudo-flutuante {
  background-color: var(--preto);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 90vw;
}
}

