@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap");

/*geral*/
:root {
  --branco: #fff;
  --preto: #000;
  --background-color_body: #f1f6fc31;
  --background-image: url("../img/fundo.png");
  --header_scrolled: rgba(0, 0, 0, 0.76);
  --background-color_footer: #13161a;
  --background-color_dev: #ededed;
  --background-color_equipe-but: #1e2227;
  --laranja:#fc7d1c;
  --vermelho: #fc1414;
  --verde: #38d165;
  --azul: #50a3fc;
  --amarelo: #f7eb03;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
  outline: none;
  text-decoration: none;
  transition: 0.2s linear;
}

body {
  height: auto;
  background-image:radial-gradient(farthest-corner at 0px 0px, var(--preto) 10%, var(--amarelo) 100%), radial-gradient( farthest-corner at 0px 0px,#b35914 10%, var(--vermelho) 100%);
  background-repeat: no-repeat;
  background-size: 100% auto, 100% 60vh;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  overflow-y: hidden;
  display: none;
}

/*header*/
.banner-content {
  padding: 54px 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
}

.btn {
  background-color: var(--preto);
  color: var(--branco);
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}

.btn.scrolled {
  background-color: var(--branco);
  color: var(--preto);
  transition: background-color 0.5s ease;
}

header {
  position: fixed;
  width: 100vw;
  transition: background-color 0.5s ease;
  z-index: 4;
}

header.scrolled {
  background-color: var(--header_scrolled);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
}

.a-pag {
  color: var(--branco);
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}

.a-pag:hover {
  color: var(--branco);
  margin-top: 8px;
  border-bottom: 3px solid var(--branco);
  padding-bottom: 5px;
}

nav img {
  height: 110px;
  width: 110px;
}

.banner {
  display: flex;
  justify-content: center;
  margin: 150px;
  text-align: center;
}

.banner-text {
  text-align: center;
  padding: 0 30%;
  padding-top: 8%;
}

.banner-text h1 {
  font-size: 50px;
  color: var(--branco);
  font-family: "Source Code Pro", monospace;
  letter-spacing: 1px;
}

.banner-text h2 {
  text-align: left;
  padding: 0 15px;
  margin-top: 15px;
  color: var(--branco);
  font-family: "Source Code Pro", monospace;
}

.banner-text p {
  text-align: left;
  padding: 0 15px;
  margin-top: 25px;
  color: var(--branco);
}


/*main*/
.atrasdoheader{
    height: 114px;
  }
  main {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*footer*/
footer {
  background-color: var(--background-color_footer);
  z-index: 1000;
  position: relative;
}

.dev {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: var(--background-color_dev);
}

.equipe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  background-color: var(--background-color_footer);
  height: 100%;
}

.equipe.but {
  width: 70vw;
  background-color: var(--background-color_equipe-but);
  border-right: 2px var(--branco) solid;
  border-bottom: 2px var(--branco) solid;
}

.b-equipe {
  background-color: var(--preto);
  color: var(--branco);
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  cursor: pointer;
}

.a-equipe {
  display: none;
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.a-equipe.but {
  display: block;
}

.equipe img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.link {
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color_footer);
}

.link.but {
  width: 30vw;
  border-bottom: 2px var(--branco) solid;
}

.link a {
  text-decoration: none;
  color: var(--branco);
}

.hr-f {
  height: 2px;
  margin-left: 5%;
  width: 90%;
  color: var(--branco);
}

.hr-f.but {
  display: none;
}

.cop {
  height: 100px;
  background-color: var(--background-color_footer);
  display: flex;
  justify-content: space-around;
}

.cop p {
  margin-top: 15px;
  font-size: 15px;
  color: var(--branco);
}

/*media*/
