@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&family=Roboto+Slab:wght@600;700&family=Source+Code+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap');
/*geral*/
:root {
  --branco: #fff;
  --preto: #000;
  --background-color_body: #f1f6fc31;
  --background-image: url("../img/fundo.png");
  --header_scrolled: rgba(0, 0, 0, 0.76);
  --background-color_footer: #13161a;
  --background-color_dev: #ededed;
  --background-color_equipe-but: #1e2227;
  --laranja: #fc7d1c;
  --vermelho: #fc1414;
  --verde: #38d165;
  --azul: #50a3fc;
  --amarelo: #f7eb03;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
  outline: none;
  text-decoration: none;
  transition: 0.2s linear;
}

body {
  height: auto;
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  background-size: 100% auto;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  overflow-y: hidden;
  display: none;
}

/*main*/

main {
  position: relative;
  min-height: 90vh;
}

.conteudo {
  margin-top: 60px;
  margin-bottom: 100px;
}

.cronograma {
  margin-left: 130px;
  background-color: rgba(19, 22, 26, 0.97);
  min-height: 500px;
  height: auto;
  width: 70vw;
  display: inline-block;
  color: var(--branco);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.493);
  padding: 80px;
  padding-top: 65px;
}

.header-cron {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.h1-cron {
  display: inline-block;
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
}

#p-cron {
  color: var(--branco);
  font-size: 20px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: var(--background-color_footer);
  background-image: none;
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  width: 110px;
  height: 3em;
  line-height: 3;
  background: var(--background-color_footer);
  overflow: hidden;
  border-radius: 5px;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1rem;
  background: var(--background-color_equipe-but);
  cursor: pointer;
  pointer-events: none;
  transition: .25s all ease;
  border-radius: 0;
}

.select:hover::after {
  color: var(--branco);
}

#desenho2 {
  position: absolute;
  right: -10%;
  height: 700px;
  z-index: 1;
}

/*media*/
@media screen and (max-width: 1600px) {
  #desenho2 {
    height: 35vw;
  }
}

@media screen and (max-width: 992px) {
  #desenho2 {
    display: none;
  }

  .cronograma {
    justify-content: space-around;
    margin: 0px 5%;
    width: 90%;
    padding: 5%;
  }

  .select {
    width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .h1-cron{
    font-size: 30px;
  }
  
  .cronograma {
    justify-content: space-around;
    margin: 0px 5%;
    padding: 5%;
  }
}

@media screen and (max-width: 390px) {
  .h1-cron{
    font-size: 25px;
  }
}
