/*header*/
:root {
    --altura-elemento: 0;
    --header-height: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Inter", sans-serif;
    outline: none;
    text-decoration: none;
    transition: 0.2s linear;
}

.atrasdoheader {
    height: var(--header-height)
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
    background-image: linear-gradient(90deg, #104b2149 0%, #807b173f 20%, #69360f6c 40%, #2b14145b 60%, #11273e62 80%);

}

.btn {
    background-color: var(--preto);
    color: var(--branco);
    padding: 15px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

.btn.scrolled {
    background-color: var(--branco);
    color: var(--preto);
    transition: background-color 0.5s ease;
}

header {
    position: fixed;
    width: 100vw;
    transition: background-color 0.5s ease;
    z-index: 100;
}

header.scrolled {
    background-color: var(--header_scrolled);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 2s;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    margin-right: 37px;
}

.pag {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a-pag {
    color: var(--branco);
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

.a-pag:hover {
    color: var(--branco);
    margin-top: 8px;
    border-bottom: 3px solid var(--branco);
    padding-bottom: 5px;
}

nav img {
    height: 60px;

}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
}

.pag.active {
    transform: translateX(0);
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

/*footer*/
footer {
    width: 100%;
    background-color: var(--background-color_footer);
    z-index: 50;
    position: relative;
    animation: none;
}

.dev {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 90px;
    background-color: var(--background-color_footer);
}

.equipe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: var(--background-color_footer);
    height: auto;
}

.equipe.but {
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color_equipe-but);
    border-bottom: 2px var(--branco) solid;
}

.b-equipe {
    background-color: var(--preto);
    color: var(--branco);
    padding: 15px 20px;
    border: 0;
    border-radius: 10px;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.a-equipe {
    display: none;
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.a-equipe.but {
    display: block;
}

.equipe img {
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.link {
    min-width: 50vw;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color_footer);
}

.link.but {
    border-bottom: 2px var(--branco) solid;
}

.link a {
    text-decoration: none;
    padding: 10px;
    color: var(--branco);
}

.hr-f {
    height: 2px;
    margin-left: 5%;
    width: 90%;
    color: var(--branco);
}

.hr-f.but {
    display: none;
}

.cop {
    height: 40px;
    background-color: var(--background-color_footer);
    display: flex;
    justify-content: space-around;
}

.cop p {
    margin-top: 15px;
    font-size: 15px;
    color: var(--branco);
}

/*key*/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*media*/
@media screen and (max-width: 992px) {

    /* header */

    .mobile-menu {
        display: block;
        z-index: 200;
    }

    #header {
        display: block;
    }

    header .container {
        margin: 0;
        padding: 0;
    }

    .btn,
    .a-pag {
        margin: 0 10px;
    }

    .pag {
        position: absolute;
        top: var(--header-height);
        right: 0;
        width: 50vw;
        height: calc(100vh - var(--header-height));
        background-color: var(--header_scrolled);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 200;
    }

    .pag li {
        margin-left: 0;
        opacity: 0;
    }

    /* footer */
    .equipe.but {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .equipe.but .b-equipe {
        width: 100vw;
    }
    .b-equipe{
        margin: 10px;
    }
    .equipe{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


@media screen and (max-width: 688px) {
    .b-equipe{
        margin: 10px;
    }
    .equipe{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .link {
        display: flex;
        flex-wrap: wrap;
    }

    .cop {
        display: flex;
        text-align: center;
        align-items: center;
    }
}