@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap");

/*geral*/
:root {
  --branco: #fff;
  --preto: #000;
  --background-color_body: #f1f6fc31;
  --background-image: url("../img/fundo.png");
  --header_scrolled: rgba(0, 0, 0, 0.76);
  --background-color_footer: #13161a;
  --background-color_dev: #ededed;
  --background-color_equipe-but: #1e2227;
  --laranja: #fc7d1c;
  --vermelho: #fc1414;
  --verde: #38d165;
  --azul: #50a3fc;
  --amarelo: #f7eb03;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
  outline: none;
  text-decoration: none;
  transition: 0.2s linear;
}

body {
  height: auto;
  background-image: radial-gradient(farthest-corner at 0px 0px, var(--preto) 1%, var(--azul) 100%), radial-gradient(farthest-corner at 0px 0px, #b35914 10%, var(--vermelho) 100%);
  background-repeat: no-repeat;
  background-size: 100% auto, 100% 60vh;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  overflow-y: hidden;
  display: none;
}

/*main*/

main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#titulomodali {
  margin-top: 8%;
  color: #fff;
}

.modali {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 10%;
  padding: 1.5%;
  background-color: rgba(192, 192, 192, 0.219);
}

.modali img {
  width: 30%;
  margin-right: 10%;
}

.textomol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  padding: 1%;
}

.textomol h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 2.5%;
  color: #fff;
}

.textomol p {
  width: 100%;
  margin-bottom: 2.5%;
  text-align: justify;
  color: #fff;
}

.textomol button {
    width: 30%;
    margin-left: 35%;
    padding: 2.5%;
    margin-top: 2.5%;
    font-size: 16px;
    background-color: #fff;
    border: none;
    color: #000;
}
.textomol button:hover{
  background-color: #000;
  color: #fff;
}

/*media*/
@media (max-width: 480px){
  .modali {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .modali img{
    width: 70%;
  }
  .textomol{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
  }
  .textomol h1 {
    font-size: 40px;
  }

  .textomol p {
    font-size: 25px;
  }
  .textomol button{
    width: 90%;
    margin-left: 5%;
    font-size: 25px;
  }
  .textomol button:hover{
    background-color: #000;
    color: #fff;
  }
}
@media (min-width: 481px) and (max-width: 768px){
  .modali {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .modali img{
    width: 50%;
  }
  .textomol{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
  }
  .textomol h1 {
    font-size: 40px;
  }

  .textomol p {
    font-size: 25px;
  }
  .textomol button{
    width: 90%;
    margin-left: 5%;
    font-size: 25px;
  }
  .textomol button:hover{
    background-color: #000;
    color: #fff;
  }
}
@media (min-width: 769px) and (max-width: 1024px){
  .modali {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .modali img{
    width: 50%;
  }
  .textomol{
    width: 90%;
    margin-top: 5%;
    margin-left: 5%;
  }
  .textomol h1 {
    font-size: 40px;
  }

  .textomol p {
    font-size: 25px;
  }
  .textomol button{
    width: 50%;
    margin-left: 25%;
    font-size: 25px;
  }
  .textomol button:hover{
    background-color: #000;
    color: #fff;
  }
}
@media (min-width: 1025px) and (max-width: 1200px){
  .textomol h1 {
    font-size: 35px;
  }

  .textomol p {
    font-size: 20px;
  }
  .textomol button{
    font-size: 20px;
  }
}
