@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&family=Roboto+Slab:wght@600;700&family=Source+Code+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
  --branco: #fff;
  --preto: #000;
  --background-color_body: #f1f6fc31;
  --background-image: url("../img/fundo.png");
  --header_scrolled: rgba(0, 0, 0, 0.76);
  --background-color_footer: #13161a;
  --background-color_dev: #ededed;
  --background-color_equipe-but: #1e2227;
  --laranja: #fc7d1c;
  --vermelho: #fc1414;
  --verde: #38d165;
  --azul: #50a3fc;
  --amarelo: #f7eb03;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  outline: none;
  text-decoration: none;
  transition: all 0.2s linear 0s;
}
body {
  height: auto;
  background-color: #f5f5f5;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  overflow-y: hidden;
  display: none;
}
main {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#titulomodali {
  width: 100%;
  font-size: 50px;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
  color: var(--preto);
  font-family: 'Roboto Slab', serif;
}
.modali {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 1%;
  margin-bottom: 6%;
  padding: 1.5%;background-color: rgba(19, 22, 26, 0.97);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.493);
  border-radius: 5px;
}
.modali img {
  width: 30%;
  height:  fit-content;
}
.textomol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  padding: 1%;
}
.textomol h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 2.5%;
  color: rgb(217, 159, 13);
}
h2{
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin-bottom: 2.5%;
  text-align: center;
  padding: 1%;
  border-bottom: solid 2px;
}
.textomol p {
  width: 100%;
  margin-bottom: 2.5%;
  text-align: justify;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.textomol a{
  width: 50%;
  padding: 2.5%;
  display: flex;
  margin-top: 2.5%;
  border-radius: 10px;
}
.textomol button {
  width: 50%;
  padding: 2.5%;
  display: flex;
  margin-top: 2.5%;
  font-size: 20px;
  background-color:var(--branco);
  border: none;
  color: var(--preto);
  border-radius: 10px;
  place-content: center;
  transition: all 0.2s linear 0s;
  box-shadow: rgb(0, 0, 0) 1px 1px 5px;
  cursor: pointer;
}
.textomol button:hover {
  background-color: var(--preto);
  color: var(--branco);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.445);
}
.pagina-flutuante {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 22, 26, 0.97);
  display: none;
  justify-content: center;
  align-items: center;
  color: var(--branco);
  z-index: 200;
}
.conteudo-flutuante {
  background-color: var(--preto);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  display: ;
  flex-direction: row;
}
.conteudo-flutuante button {
  margin-top: 20px;
  font-size: 35px;
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 0;
  border: 0;
  cursor: pointer;
}


/*Media 480px*/
@media (max-width: 480px) {
  #titulomodali {
    font-size: 30px;
    margin-top: 40%;
    margin-bottom: 30%;
    color: rgb(0, 0, 0);
  }
  .modali {
    width: 90%;
    margin-bottom: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modali img {
    width: 70%;
    margin-right: 0;
  }
  .textomol {
    width: 90%;
    margin-top: 5%;
  }
  .textomol h1 {
    font-size: 40px;
  }
  .textomol p {
    font-size: 20px;
  }
  .textomol button {
    width: 90%;
    font-size: 25p;
  }
}

/*Media 481px a 768px*/
@media (min-width: 481px) and (max-width: 768px) {
  #titulomodali {
    margin-top: 35%;
    margin-bottom: 25%;
    font-size: 50px;
    color: rgb(0, 0, 0);
  }
  .modali {
    width: 90%;
    margin-bottom: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modali img {
    width: 50%;
    margin-right: 0;
  }
  .textomol {
    width: 90%;
    margin-top: 5%;
  }
  .textomol h1 {
    font-size: 40px;
  }
  .textomol p {
    font-size: 30px;
  }
  .textomol button {
    width: 90%;
    font-size: 30px;
  }
  
}

/*Media 769px a 1024px*/
@media (min-width: 769px) and (max-width: 1024px) {
  #titulomodali {
    margin-top: 35%;
    margin-bottom: 25%;
    font-size: 50px;
    color: rgb(0, 0, 0);
  }
  .modali {
    width: 90%;
    margin-bottom: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modali img {
    width: 50%;
    margin-right: 0;
  }
  .textomol {
    width: 90%;
    margin-top: 5%;
  }
  .textomol h1 {
    font-size: 40px;
  }
  .textomol p {
    font-size: 25px;
  }
  .textomol button {
    width: 50%;
    font-size: 25px;
  }
}

/*Media 1025px a 1200px*/
@media (min-width: 1025px) and (max-width: 1200px) {
  .textomol h1 {
    font-size: 35px;
  }
  .textomol p {
    font-size: 20px;
  }
  .textomol button {
    font-size: 20px;
  }
}
