@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap");

/*geral*/
:root {
  --branco: #fff;
  --preto: #000;
  --background-color_body: #f1f6fc31;
  --background-image: url("../img/fundo.png");
  --header_scrolled: rgba(0, 0, 0, 0.76);
  --background-color_footer: #13161a;
  --background-color_dev: #ededed;
  --background-color_equipe-but: #1e2227;
  --laranja: #fc7d1c;
  --vermelho: #fc1414;
  --verde: #38d165;
  --azul: #50a3fc;
  --amarelo: #f7eb03;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
  outline: none;
  text-decoration: none;
  transition: 0.2s linear;
}

body {
  height: auto;
  background-image: radial-gradient(farthest-corner at 0px 0px, var(--preto) 10%, var(--verde) 100%);
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  overflow-y: hidden;
  display: none;
}

/*main*/

main {
  min-height: 90vh;
}

#sobre{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 10%;
  margin-bottom: 100px;
  background-color: var(--preto);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.1);
  padding: 5% 5% 5% 5% ;
  margin-top: 100px;
}
#sobre h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 5%;
  color: var(--branco);
}

#sobre p{
  width: 100%;
  text-align:justify;
  margin-top: 2.5%;
  font-size: 20px;
  color: var(--branco);
}

/*media*/
@media screen and (max-width: 992px) {}

@media screen and (max-width: 768px) {}
