@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&display=swap');
/*geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f1f6fc31;
}

banner content{
    padding:  54px 0; 
    
}
h1{
    font-size: 50px;
    color: white;
}
h2{
    margin-top: 20px;
    color: white;
}
p{
    margin-top: 20px;
    color: white;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}

.header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fundo.png');
    background-position: center;
    background-size: cover;
    filter: grayscale(35%) brightness(60%);
    z-index: -1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

nav ul{
    display: flex;
    align-items:  center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav img{
    height: 130px;
    width: 130px;
}

.banner{
    display: flex;
    justify-content: center;
    margin: 150px;
    text-align: center;
}


.banner-text{
    text-align: center;
    padding: 0 90px;
    
}

.banner-text h2{
    text-align: left;
    padding: 0 15px;

}

.banner-text p{
    text-align: left;
    padding: 0 15px;

}

  /*aqui o =webkit-scrollbar, é para que o scroll fique personalizado*/
  html::-webkit-scrollbar {
    width: .8rem;
  }

  /*aqui o =webkit-scrollbar-track, é para que o scroll 
  trnasparente-*/
  */
  html::-webkit-scrollbar-track {
    background: transparent;
  }

    /*aqui o =webkit-scrollbar-thumb, é para que o scroll fique branco e com as border radius caso ele apareça*/
  html::-webkit-scrollbar-thumb {
    background: #ffffff00;
    border-radius: 5rem;
  }