@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap");

/*geral*/
:root {
  --bg-color-navMenu: #dddddd85;
  --branco: #fff;
  --preto: #000;
  --background-color_body: #f1f6fc31;
  --background-image: url("../img/fundo.png");
  --header_scrolled: rgba(0, 0, 0, 0.76);
  --background-color_footer: #13161a;
  --background-color_dev: #ededed;
  --background-color_equipe-but: #1e2227;
  --laranja: #fc7d1c;
  --vermelho: #fc1414;
  --verde: #38d165;
  --azul: #50a3fc;
  --amarelo: #f7eb03;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Inter", sans-serif;
  outline: none;
  text-decoration: none;
  transition: 0.2s linear;
}

body {
  background-color: var(--background-color_body);
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  overflow-y: hidden;
  display: none;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98vh;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  filter: grayscale(25%) brightness(60%) blur(1.6px);
  z-index: -1;
}

/*header*/
.banner-content {
  padding: 54px 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 5%;
}

.btn {
  background-color: var(--preto);
  color: var(--branco);
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}

.btn.scrolled {
  background-color: var(--branco);
  color: var(--preto);
  transition: background-color 0.5s ease;
}

header {
  position: fixed;
  width: 100vw;
  transition: background-color 0.5s ease;
  z-index: 4;
}

header.scrolled {
  background-color: var(--header_scrolled);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 2s;
}

nav ul {
  display: flex;
  align-items: center;
}

.a-pag {
  color: var(--branco);
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}

.a-pag:hover {
  color: var(--branco);
  margin-top: 8px;
  border-bottom: 3px solid var(--branco);
  padding-bottom: 5px;
}

nav img {
  height: 110px;
  width: 110px;
}

#menu-btn {
  display: none;
}

/*main*/
.banner {
  display: flex;
  justify-content: center;
  margin: 150px;
  text-align: center;
}

.banner-text {
  text-align: center;
  padding: 0 30%;
  padding-top: 8%;
}

.banner-text h1 {
  font-size: 50px;
  color: var(--branco);
  font-family: "Source Code Pro", monospace;
  letter-spacing: 1px;
}

.banner-text h2 {
  text-align: left;
  padding: 0 15px;
  margin-top: 15px;
  color: var(--branco);
  font-family: "Source Code Pro", monospace;
}

.banner-text p {
  text-align: left;
  padding: 0 15px;
  margin-top: 25px;
  color: var(--branco);
}

.atrasdoheader {
  height: 114px;
}

main {
  height: 98vh;
}

.conteudo {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  display: block;
}

.conteudo::-webkit-scrollbar {
  width: 0.8rem;
}

.conteudo::-webkit-scrollbar-track {
  background-color: transparent;
  min-height: 100vh;
}

.conteudo::-webkit-scrollbar-thumb {
  background: var(--branco);
  box-shadow: 0px 0px 3px 1px --branco;
}

#desenho1 {
  position: absolute;
  left: -5%;
  top: 15%;
  margin-left: -110px;
  margin-top: -40px;
  z-index: 2;
}

#desenho1.scrolled {
  left: 0%;
  top: 20%;
}

#desenho2 {
  position: absolute;
  right: -7%;
  top: 50%;
  margin-left: -110px;
  margin-top: -40px;
  height: 450px;
  z-index: 1;
}

#desenho2.scrolled {
  right: -3%;
  top: 45%;
}


/*footer*/
footer {
  background-color: var(--background-color_footer);
  z-index: 1000;
  position: relative;
}

.dev {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: var(--background-color_dev);
}

.equipe {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  background-color: var(--background-color_footer);
  height: 100%;
}

.equipe.but {
  width: 70vw;
  background-color: var(--background-color_equipe-but);
  border-right: 2px var(--branco) solid;
  border-bottom: 2px var(--branco) solid;
}

.b-equipe {
  background-color: var(--preto);
  color: var(--branco);
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  margin: 0 25px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  cursor: pointer;
}

.a-equipe {
  display: none;
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.a-equipe.but {
  display: block;
}

.equipe img {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

.link {
  width: 70vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-color_footer);
}

.link.but {
  width: 30vw;
  border-bottom: 2px var(--branco) solid;
}

.link a {
  text-decoration: none;
  color: var(--branco);
}

.hr-f {
  height: 2px;
  margin-left: 5%;
  width: 90%;
  color: var(--branco);
}

.hr-f.but {
  display: none;
}

.cop {
  height: 100px;
  background-color: var(--background-color_footer);
  display: flex;
  justify-content: space-around;
}

.cop p {
  margin-top: 15px;
  font-size: 15px;
  color: var(--branco);
}

/*media*/
@media screen and (max-width: 992px) {

  header {
    display: block;
  }

  header .container {
    margin: 0;
    padding: 0;
  }

  .btn,
  .a-pag {
    margin: 0 10px;
  }

  .banner {
    display: flex;
    justify-content: center;
    margin: 15px;
    text-align: center;
  }

  .banner-text {
    text-align: center;
    padding: 0 10%;
  }

  #desenho1 {
    position: absolute;
    left: -5%;
    top: 70%;
    margin-left: -110px;
    margin-top: -40px;
    z-index: 2;
  }

  #desenho1.scrolled {
    left: 0%;
    top: 20%;
  }

  #desenho2 {
    position: absolute;
    right: -30%;
    top: 50%;
    margin-left: -110px;
    margin-top: -40px;
    height: 450px;
    z-index: 1;
  }

  #desenho2.scrolled {
    right: -3%;
    top: 45%;
  }

  /* footer */
  footer {
    flex-direction: column;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .b-equipe {
    margin: auto;
  }

  .equipe {
    width: auto;
  }

  .equipe.but {
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    background-color: var(--background-color_equipe-but);
    border-right: 2px var(--branco) solid;
    border-bottom: 2px var(--branco) solid;
  }

  .a-equipe.but {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 0;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .link.but {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .a-equipe img {
    width: 30px;
    height: 30px;
    display: inline-flex;
  }

  .cop {
    width: 100%;
    height: auto;
  }

  .cop p {
    padding: 20px;
    margin: 0;
    display: flex;
    color: var(--branco);
  }
}

@media screen and (max-width: 768px) {

  #menu-btn {
    display: flex;
    position: absolute;
    cursor: pointer;
    right: 0;
  }

  nav.ativo {
    background-color: var(--bg-color-navMenu);
    height: 100vh;
    position: absolute;
  }

  .pag {
    display: none;
  }

  nav.ativo #menu-btn {
    top: 0;
  }

  nav.ativo>a {
    position: absolute;
    top: 0;
  }

  nav.ativo .pag {
    width: 100vw;
    display: block;
  }

  nav.ativo .pag a {
    font-size: 40px;
    color: var(--preto);
    margin: 12px;
  }

  nav.ativo ul {
    position: absolute;
    top: 60px;
  }

  header.scrolled {
    background-color: var(--bg-color-navMenu);
  }

  #desenho1,
  #desenho2 {
    display: none;
  }


  .dev {
    height: auto;
    flex-direction: column;
    background-color: var(--background-color_footer);
  }

  .dev.but {
    display: none;
  }

  .a-equipe img {
    width: 60px;
    height: 60px;
    display: inline-flex;
  }

  .equipe {
    margin: 0;
  }

  .equipe.but {
    flex-direction: column;
  }

  .link {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  nav.ativo .pag a {
    font-size: 40px;
    margin: 12px;
  }

}