@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@900&family=Inter:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@1,300;1,400;1,500;1,600;1,700&display=swap');
/*geral*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f1f6fc31;
}

section{
    padding:  54px 0; 
    
}
h1{
    font-size: 50px;
    color: white;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 1px;
}
h2{
    margin-top: 15px;
    color: white;
    font-family: 'Source Code Pro', monospace;
}
p{
    margin-top: 25px;
    color: white;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn{
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
}

header {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*background: rgba(51, 51, 51, 0.356);
    width: 100%;
    height: 110px;*/
}

.content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fundo.png');
    background-position: center;
    background-size: cover;
    filter: grayscale(35%) brightness(60%) blur(2px);
    z-index: -1;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items:  center;
}

nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}

nav img{
    height: 110px;
    width: 110px;
}

.banner{
    display: flex;
    justify-content: center;
    margin: 150px;
    text-align: center;
}


.banner-text{
    text-align: center;
    padding: 0 90px;
    
}

.banner-text h2{
    text-align: left;
    padding: 0 15px;

}

.banner-text p{
    text-align: left;
    padding: 0 15px;

}
